<html>

<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>{{ .AppName }} - Golang Struct to JSON Payload converter</title>
    <!-- Search Engine -->
    <meta name="description" content="Generate json stud data from golang structs for easy testing">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ .AppName }} - Golang Struct to JSON Payload converter">
    <meta itemprop="description" content="Generate json stud data from golang structs for easy testing">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ .AppName }} - Golang Struct to JSON Payload converter">
    <meta name="og:description" content="Generate json stud data from golang structs for easy testing">
    <meta name="og:type" content="website">
    <link href="/assets/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECKJFEGK4L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-ECKJFEGK4L');
    </script>
</head>

<body>
    <div class="main-container">
        <div class="nav-container">
            <div class="title">
                <h1>GO2JSON <span>Go struct to json payload generator</span></h1>
            </div>
            <div class="nav">
            </div>
        </div>
        <div class="content">
            <form action="/" method="POST">
                <h3>Input Golang data</h3>
                <p class="error-message">{{ .ErrorMessage }}</p>
                <textarea name="godata" placeholder="go data goes here...">{{ .GOData }}</textarea>
                <h3>Indentation string</h3>
                <div class="button-container">
                    <button type="submit"> >Convert< </button>
                </div>
                <h3>JSON Output</h3>
                <pre><code class="language-json">{{ .JSONData }}</code></pre>
            </form>
        </div>
        <div class="footer">
            <p>Developed with ❤️ by <a href="https://kofo.dev">kofoworola</a></p>
        </div>
    </div>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>