<html>

<head>
    <title>Golang Struct to JSON converter</title>
    <link href="/assets/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-container">
        <div class="nav-container">
            <div class="title">
                <h1>GOJSON <span>Go struct to json payload generator</span></h1>
            </div>
            <div class="nav">
                <a href="https://github.com/kofoworola/gojson">github</a>
            </div>
        </div>
    </div>
</body>

</html>